*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:gray;
}
.cd{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,rgb(25, 24, 24),rgb(47, 46, 46));
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.ser{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ser input{
    border: 0;
    outline: 0;
    background: white;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.ser button{
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.ser button img{
    width: 16px;
}
.icon{
    width: 180px;
    margin-top: 35px;
}
.display h1{
    font-size: 85px;
    font-weight: bolder;
}
.display h2{
    font-size: 45px;
    font-weight: bolder;
}
.display{
    display: none;
}
.not{
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    display: none;
}